*{
    margin:0;
    padding:0;

}
body{
    background:url(dv.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color:white;
    position:absolute;
    top:35%;
    left:40%;
}
.container h1{
    border-bottom: 2px solid purple;
font-size:40px;
margin-bottom:43px;
padding:13px;

}
.box{
    width:100%;
}
.box i{
    padding: 0 12px;
    width:29px;
    text-align: center;

}
.box input{
background: none;
width: 75%;
margin: 12px 0px ;
padding:5px 10px;
font-size: 20px;
border:none;
outline:none;
color:white;

}
.btn{
    cursor: pointer;
    outline:none;
    width:12% 0;
    margin:12px;
    padding:6px;
    border-color:2px solid purple;
    border-radius: 10px;
    background: none;
    color:white;
}